@media(max-width:500px){
    .navigation{position: static;}
    .navigation .company{width: 100%;margin: 0px;}
    .navigation .submenu li{width: 100%;text-align: center;padding: 10px;margin:5px;}
    .navigation .button{width: 100%;text-align: center;}

    .header .content .leftSide{width: 100%;padding: 0px;}
    .header .content .leftSide h1{width: 100%;font-size: 30px;}
    .header .content .leftSide h3{width: 100%;font-size: 30px;}
    .header .content .rightside{width: 100%;}



    .courseLayout .layouts .lyt{width: 50%;}


    /* .features .stickers .row .item{width: 200%;}
    .features .stickers .row .item h4{line-height:30px; width:  100%;padding: 0px;} */


    .questions .content .que{width: 90%;font-size: 10px;}

    .footer .left{display: none;}
    .footer .middle{width: 100%;}
    .footer .middle h1{font-size: 20px;}
    .footer .middle .buttons .btn{margin:0px;margin: 50px 0px 100px 10px;padding: 10px;}
    .footer .right{display: none;}
}