* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/*------------------- Header Starts --------------*/
.header {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.header .company {
  display: grid;
  grid-template-columns: 4fr 6fr;
}
.header .company .logo i {
  padding: 20px;
  font-size: 30px;
}
.header .company .name {
  padding-left: 0px;
  text-align: left;
}
.header .company .name h3 {
  color: grey;
}
.header .submenu {
  margin-left: 120px;
}
.header .submenu li {
  display: inline-block;
  padding: 20px;
  margin-right: 2px;
  font-size: 18px;
  position: relative;
}
.header .submenu li a {
  color: #2c2d2f;
}
.header .submenu li a:hover {
  color: #ff6900;
}
.header .submenu li .submenu1 {
  display: none;
  position: absolute;
  left: 0px;
  top: 50px;
}
.header .submenu .comman:hover .submenu1 {
  display: block;
}
.header .submenu li .submenu1 li:hover {
  color: #6ea06d;
}
.header .submenu li .submenu1 li {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  height: 40px;
  width: 150px;
  margin: 0px;
  color: #fff;
  background: rgb(73, 185, 59);
}
.header .submenu li .submenu2 {
  display: none;
  position: absolute;
  left: 160px;
  top: 15px;
  background: yellow;
}
.header .submenu li .submenu2:hover {
  display: block;
}
/* .header .submenu .submenu1 .common1:hover .header .submenu li .submenu2{
  display: block;
  color: red;
} */
.header .socialMedia {
  padding-left: 10px;
}
.header .socialMedia .twitter {
  background: #1da1f2;
}
.header .socialMedia .youtube {
  background: #ff0000;
}
.header .socialMedia .facebook {
  background: #3b5998;
}
.header .socialMedia li {
  display: inline-block;
  background: blue;
  padding: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.header .socialMedia li a {
  color: #fff;
}
/*------------------- Header Ends --------------*/
/*------------------- Content Starts --------------*/
.content {
  width: 90%;
  margin: auto;
  /* display: grid; */
  /* grid-template-rows: 7fr 3fr; */
}
.content .photo {
  height: 800px;
  background: url(../images/full_banner.jpg);
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  padding-top: 300px;
}
.content .photo h1 {
  /* background: blue; */
  width: 25%;
  margin: auto;
  font-weight: 200;
  font-size: 50px;
}
.content .photo hr {
  margin: 20px auto;
  border: 2px solid #fff;
  width: 10%;
}
.content .photo h4 {
  padding: 30px 0px 60px 0px;
  /* background: cyan; */
}
.content .photo .button {
  padding: 30px 20px;
  width: 15%;
  margin: auto;
  margin-bottom: 50px;
  background: #ff6900;
  transition: 1s;
}
.content .photo .button:hover {
  background: green;
}
.content .photo .button a {
  text-decoration: none;
  color: #fff;
}
.content .icons {
  padding: 50px;
  background: rgb(74, 180, 74);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.content .icons .round {
  background: #fff;
  margin: auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.icons {
  position: relative;
}
.icons .icon h1 {
  padding: 10px 0px;
}
.icons .icon h4 {
  width: 70%;
  padding: 10px 0px;
  margin: auto;
}
.icons .icon .link {
  margin-top: 20px;
}
.icons .icon .link a {
  color: green;
  text-decoration: none;
  /* padding-bottom: 20px; */
}
.icons .icon .link a:hover {
  color: #ff6900;
}
.icons .icon .link .underline {
  width: 25%;
  margin: auto;
  border-bottom: 2px solid green;
  padding-top: 5px;
}
.icons .v1 {
  position: absolute;
  top: 80px;
  left: 460px;
  height: 200px;
  width: 2px;
  background: lightgray;
}
.icons .v2 {
  position: absolute;
  top: 80px;
  left: 890px;
  height: 200px;
  width: 2px;
  background: lightgray;
}
/*------------------- Content Ends --------------*/
/*------------------- Form Starts --------------*/
.form {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  color: #2c2d2f;
}
.form .left {
  display: grid;
  grid-template-rows: 2fr 1fr;
  padding: 0px 20px;
}
.form .left .phone {
  margin: 10px 0px;
  /* margin: auto; */
  background: lightgray;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.form .left .phone .round {
  height: 100px;
  width: 100px;
  margin: 50px 40px;
  background: green;
  border-radius: 50%;
}
.form .left .phone .round i {
  margin: 25px;
  color: #fff;
}
.form .left .phone .content h4 {
  margin: 5px 0px;
}
.form .left .phone .content h2 {
  font-size: 30px;
  margin: 5px 0px;
}
.form .left .phone .content h2:hover {
  color: #ff6900;
}
.form .left .phone .content .info {
  color: gray;
}
.form .right {
  display: grid;
  padding: 10px 20px;
}
.form .right input {
  padding: 40px;
}
.form .right .heading {
  font-size: 70px;
}
.form .right .info {
  font-size: 20px;
}
.form .right .table {
  display: grid;
  padding: 20px;
}
.form .right .table input {
  padding: 10px;
}
.form .right .table .twoInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form .right .table .twoInputs input {
  height: 50px;
  width: 98%;
  margin-right: 10px;
}
.form .right .table .data input {
  height: 50px;
  width: 100%;
}
.form .right .table .message input {
  height: 100px;
  width: 100%;
}
.form .right .table .checkbox_btn {
  display: grid;
  grid-template-columns: 1fr 10fr 8fr;
}
.form .right .table .checkbox_btn i {
  margin-top: 20px;
  margin-left: 10px;
}
.form .right .table .checkbox_btn .checkbox {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 22px;
}
.form .right .table .checkbox_btn .btn {
  background: gray;
  margin: auto;
  padding: 20px;
  color: #fff;
}
/*------------------- Form Ends --------------*/
/*------------------- Treatment Section Starts --------------*/
.treatment {
  background: lightgrey;
  width: 90%;
  margin: auto;
}
.treatment .heading {
  font-size: 60px;
  font-weight: 400;
  padding: 50px;
  text-align: center;
}
.treatment .row {
  /* background: pink; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.treatment .row .div {
  /* background: yellow; */
  padding: 0px 30px;
  text-align: center;
}
.treatment .row .div .image {
  background: blue;
  height: 400px;
  /* padding: 40px; */
  margin: auto;
  position: relative;
}
.treatment .row .div .img1 {
  background: url(../images/treatment_01.webp);
  background-size: 100% 100%;
}
.treatment .row .div .img2 {
  background: url(../images/treatment_02.webp);
  background-size: 100% 100%;
}
.treatment .row .div .img3 {
  background: url(../images/treatment_03.webp);
  background-size: 100% 100%;
}
.treatment .row .div .img4 {
  background: url(../images/treatment_04.webp);
  background-size: 100% 100%;
}
.treatment .row .div .image h4 {
  position: absolute;
  bottom: 0px;
  left: 200px;
  background: green;
  padding: 10px;
  color: #fff;
}
.treatment .row .div .content {
  background: #fff;
  padding-bottom: 20px;
  width: 100%;
}
.treatment .row .div .content h1 {
  font-weight: 500;
  padding-top: 20px;
}
.treatment .row .div .content h1:hover {
  color: #ff6900;
}
.treatment .row .div .content h3 {
  padding: 5px 0px;
  padding-bottom: 20px;
  font-weight: 300;
  color: grey;
}
.treatment .row .div .content .link {
  word-spacing: 5px;
  letter-spacing: 3px;
}
.treatment .row .div .content .link a:hover {
  color: #ff6900;
}
/*------------------- Treatment Section Ends --------------*/
/*------------------- Big Photo Section Ends --------------*/
.bigPhoto {
  background: url(../images/recovery_banner.jpg);
  background-size: 100% 100%;
  width: 90%;
  padding: 50px;
  margin: auto;
}
.bigPhoto .heading {
  padding: 10px 0px;
  width: 30%;
}
.bigPhoto .heading h1 {
  font-size: 50px;
  color: #fff;
}
.bigPhoto hr {
  padding: 10px 0px;
  width: 10%;
  border: none;
  border-bottom: 2px solid;
}
.bigPhoto .content {
  position: relative;
  /* background: aqua; */
  /* padding-right: 100px; */
  margin-top: 50px;
  /* width: 40%; */
  margin-left: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.bigPhoto .content .playBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  /* background: pink; */
}
.bigPhoto .content .playBtn i {
  padding: 5px;
  color: #ff6900;
}
.bigPhoto .content .playBtn i:hover {
  color: green;
}
.bigPhoto .content .header {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 40%;
  display: grid;
  grid-template-rows: 3fr 2fr;
}
.bigPhoto .content .header h2 {
  position: absolute;
  /* left: 100px; */
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fff;
}
.bigPhoto .content .header h4 {
  position: absolute;
  text-align: left;
  top: 50px;
  font-size: 18px;
  padding-right: 40px;
  font-weight: 300;
  color: #fff;
}
.bigPhoto .content .footer {
  position: relative;
  margin-top: 200px;
  margin-left: 50px;
  height: 200px;
  width: 1200px;
}
.bigPhoto .footer .info {
  position: absolute;
  padding: 50px 20px;
  width: 200px;
  color: #fff;
}
.bigPhoto .footer .info i {
  color: #fff;
  margin-top: 10px;
  margin-left: 25px;
}
.bigPhoto .content .footer .image {
  height: 150px;
  width: 400px;
}
.bigPhoto .content .footer .img1 {
  position: absolute;
  top: 0px;
  left: 200px;
  background: url(../images/recovery_small_01.jpg);
  background-size: 100% 100%;
}
.bigPhoto .content .footer .img2 {
  position: absolute;
  top: 0px;
  left: 700px;
  background: url(../images/recovery_small_02.jpg);
  background-size: 100% 100%;
}
.bigPhoto .content .footer .playBtn {
  font-size: 10px;
  top: 40px;
  left: 10px;
}
.bigPhoto .content .footer .playBtn:hover {
  color: green;
}
/*------------------- Big Photo Section Ends --------------*/
/*------------------- Rehabilation Starts --------------*/
.rehabilitation {
  width: 80%;
  /* background: gray; */
  margin: auto;
  padding: 50px;
}
.rehabilitation h1 {
  font-size: 40px;
  padding: 50px 0px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}
.rehabilitation .row {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background: coral; */
  margin-bottom: 50px;
}
.rehabilitation .row .division {
  background: lightgrey;
  margin: 0px 50px;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 8fr 2fr;
}
.rehabilitation .row .division .left h4 {
  color: green;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.rehabilitation .row .division .left h2 {
  font-weight: 300;
  margin-bottom: 10px;
}
.rehabilitation .row .division .left h3 {
  font-weight: 300;
  margin-bottom: 10px;
}
.rehabilitation .row .division .right {
  font-size: 30px;
  margin: auto 20px;
  background: coral;
  padding: 10px;
  color: #fff;
}
.rehabilitation .row .division .right:hover {
  background: green;
}
/*------------------- Rehabilation Ends --------------*/
/*------------------- About Center Starts --------------*/
.aboutCenter {
  width: 90%;
  margin: auto;
  background: greenyellow;
  padding-top: 30px;
}
.aboutCenter .header {
  text-align: right;
}
.aboutCenter .header h1 {
  width: 300%;
  padding-top: 100px;
  font-size: 60px;
  font-weight: 400;
}
.aboutCenter .content {
  position: relative;
  width: 100%;
  height: 700px;
  background: lightgray;
  margin-top: 300px;
}
.aboutCenter .content .bigImage {
  position: absolute;
  top: -200px;
  left: 100px;
  height: 600px;
  width: 80%;
  margin: auto;
}
.aboutCenter .content .imageSlider {
  position: absolute;
  bottom: 100px;
  left: 100px;
  height: 150px;
  width: 600px;
  /* background: yellow; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.aboutCenter .content .imageSlider .image {
  background: black;
  /* border: 2px solid; */
  margin: 10px;
  margin-left: 20px;
}
.aboutCenter .content .imageSlider .img1 {
  background: url(../images/about_01.png);
  background-size: 100% 100%;
}
.aboutCenter .content .imageSlider .img2 {
  background: url(../images/about_02.png);
  background-size: 100% 100%;
}
.aboutCenter .content .imageSlider .img3 {
  background: url(../images/about_03.png);
  background-size: 100% 100%;
}
.aboutCenter .content .info {
  position: absolute;
  bottom: 50px;
  right: 100px;
  color: #000;
  /* height: 500px; */
  width: 40%;
  background: lightgray;
  padding: 50px;
}
.aboutCenter .content .info h1 {
  font-weight: 200;
  font-size: 40px;
  margin-bottom: 60px;
}
.aboutCenter .content .info h3 {
  font-weight: 100;
  font-size: 18px;
  color: grey;
  margin-bottom: 60px;
}
.aboutCenter .content .info .button {
  background: #ff6900;
  padding: 30px;
  width: 45%;
  color: #fff;
}
.aboutCenter .content .info .button:hover {
  background: green;
}
/*------------------- About Center Ends --------------*/
/*------------------- News & Tips Ends --------------*/
.news {
  width: 80%;
  margin: auto;
  /* background: pink; */
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.news h1 {
  font-size: 60px;
  padding-bottom: 20px;
  font-weight: 400;
}
.news .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.news .row .section {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.news .row .section .image {
  /* height: 300px; */
  margin: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.news .row .section .image img {
  width: 365px;
}
.news .row .section .content {
  background: lightgray;
}
.news .row .section .content .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}
.news .row .section .content .header .btn {
  background: coral;
  padding: 20px;
  margin: 0px 20px;
}
.news .row .section .content .header .btn:hover {
  background: green;
}
.news .row .section .content h1 {
  text-align: left;
  font-size: 30px;
  font-weight: 200;
  padding: 0px 40px;
}
.news .row .section .content h1:hover {
  color: green;
}
.news .row .section .content h3 {
  text-align: left;
  font-weight: 200;
  padding: 30px 40px;
}
.news .row .section .content .footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* color: green; */
  padding-bottom: 50px;
}
.news .row .section .content .footer .date {
  color: green;
}
.news .row .section .content .footer .comment {
  color: green;
}
.news .row .section .content .footer .date:hover {
  color: #ff6900;
}
.news .row .section .content .footer .comment:hover {
  color: #ff6900;
}
/*------------------- News & Tips Ends --------------*/
/*------------------- Footer Starts --------------*/
.footer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.footer .top {
  background: green;
  padding: 50px 200px;
}
.footer .top h1 {
  color: #fff;
  font-size: 50px;
  text-align: left;
  /* background: yellow; */
  font-weight: 300;
}
.footer .top li {
  padding: 20px 0px;
  width: 150px;
  display: inline-block;
  text-align: center;
}
.footer .bottom {
  display: grid;
  background: lightgray;
  grid-template-columns: 1fr 1fr;
}
.footer .bottom .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 50px;
}
.footer .bottom .left .part {
  padding-top: 80px;
  /* background: bisque; */
}
.footer .bottom .left .part .company {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.footer .bottom .left .part .company .logo i {
  padding: 20px;
  font-size: 30px;
}
.footer .bottom .left .part .company .name {
  padding-left: 0px;
  text-align: left;
}
.footer .bottom .left .part .company .name h3 {
  color: grey;
}
.footer .bottom .left .part h4 {
  font-size: 15px;
  padding: 0px 20px;
}
.footer .bottom .left .part .socialMedia a {
  color: #fff;
}
.footer .bottom .left .part .socialMedia .twitter {
  background: #1da1f2;
}
.footer .bottom .left .part .socialMedia .youtube {
  background: #ff0000;
}
.footer .bottom .left .part .socialMedia .facebook {
  background: #3b5998;
}
.footer .bottom .left .part .socialMedia li {
  display: inline-block;
  background: blue;
  padding: 20px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}
.footer .bottom .left .part .row {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-bottom: 30px;
  font-size: 18px;
}
.footer .bottom .left .part .row .icon {
  background: #fff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 40px;
  color: green;
}
.rights {
  padding: 50px;
  text-align: center;
}
/*------------------- Footer Ends --------------*/
