@media (max-width:500px){
    .header .h{width: 100%;}

    .subheader .sub{width: 100%;}


    .menu .submenu .list ul{width:0%;display: none;}
    .menu .submenu .cart{width: 40%;margin: auto;}

    .banner h1{width: 100%;font-size: 15px;margin: auto;}
    .banner h1 span{font-size: 25px;}
    .banner .shopNow{width: 20%;}

    .twoImages{padding: 30px;}
    .twoImages .image1{width: 100%;margin-bottom: 10px;}
    .twoImages .image2{width: 100%;}
    
    .saveBanner .x{width: 100%;}
    .saveBanner .information{padding: 20px;}
    .saveBanner .information1 h1{font-size: 25px;}

    .trending .inside .header{width: 100%;font-size: 35px;}
    .trending .inside .image1{width: 100%;}
    .trending .inside .image2{width: 190%;}
    .trending .inside .image3{width: 190%;}
    .trending .inside .images .hidden{padding: 130px 10px 50px 90px;}
    .trending .inside .images .image1 .hidden{
        padding: 130px 10px 350px 100px;
    }

    .fullBanner .x{width: 100%;}
    .fullBanner .x .offer{font-size: 30px;left: 40px;}

    /* men_content section */
    .men_content4{width: 100%;}
    .r1,.r2,.r3{grid-template-columns: 1fr 1fr;}
    .product_back{width: 80%;}
    .product_quick{width: 80%;}
    .product_bottom h2{font-size: 20px;}
    .product_bottom li{margin: 20px 10px;}
    .product_cart{width:80%;margin: 10px 20px;padding: 5px;}

    .backgroundClip .shopNow{width: 30%;}

    .icons .icon{width: 100%;margin: 5px 30px;}

    .footer .f{width: 100%;margin: 0px 50px;}
}
